services:
  db:
    image: postgres:16
    container_name: grupo08-db
    environment:
      POSTGRES_DB: grupo08
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d grupo08"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  pgdata: